<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8"/>
<meta content="width=1024px,user-scalable=yes,target-densitydpi=device-dpi" name="viewport"/>
<title>SQL-C</title>
{% load staticfiles %}

<link rel="stylesheet" href="{% static 'css/master.css' %}" />
<link rel="stylesheet" href="{% static 'css/common.css' %}" />
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/Chart.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/select_auto.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>
</head>
<body>
{% block divinfo %} <!-- <div id="wrap" class="index_wrap"> --> <!-- wrap start --> {% endblock %}
<header id="header" class="type2"><!-- header start -->

<div class="header_in"><!-- header_in start -->
<h1><a href="{% url 'sqlchome' %}"><img src="{% static 'images/logo.png' %}" alt="SQL-C" /></a></h1>

<nav class="gnb_wrap"><!-- gnb_wrap start -->
<ul class="gnb">
	{% if user.is_active %}
	<li><a href="#">SQL-C 소개</a></li>
	<li><a href="#">DB 모니터링</a></li>
	<li><a href="#">SQL성능개선</a></li>
	<li><a href="{% url 'pjtlist' %}">프로젝트관리</a></li>
	<li><a href="#">승인 관리</a></li>
	<li><a href="{% url 'password_change' %}">{% firstof user.get_short_name user.get_username %}</a></li>
	<!--<li><a href="{% url 'logout' %}">{% firstof user.get_short_name user.get_username %}&nbsp;로그아웃</a></li> -->
	<!-- <li><a href="#">{% firstof user.get_short_name user.get_username %} 회원정보수정</a></li> -->
	{% else %}
	<li><a href="#">SQL-C 소개</a></li>
	<li><a href="{% url 'login' %}">로그인</a></li>
	<li><a href="{% url 'register' %}">회원가입</a></li>
	{% endif %}

</ul>
	{% if user.is_active %}
	<p class="login_btn"><a href="{% url 'logout' %}">로그아웃</a></p>
	{% endif %}
</nav><!-- gnb_wrap end -->

</div><!-- header_in end -->

</header><!-- header end -->
<hr />
{% block content %} {% endblock %}

<footer id="footer"><!-- footer start -->

<div class="footer_in"><!-- footer_in start -->
<p class="f_logo"><img src="{% static 'images/logo_dark.gif' %}" alt="SQL-C" /></p>

<section class="f_left"><!-- f_left start -->
<ul class="link">
	<li><a href="#">SQL 담당자 안내</a></li>
	<li><a href="#">시스템 관련 문의</a></li>
</ul>
<address>서울특별시 종로구 종로 26</address>
</section><!-- f_left end -->

<section class="f_right"><!-- f_right start -->
<ul class="link">
	<li><a href="#">서비스 이용약관</a></li>
	<li><a href="#">개인정보 취급방침</a></li>
	<li><a href="#">오픈소스 고지문</a></li>
</ul>
<p class="copy">COPYRIGHT&copy;2015 BY SK HOLDINGS CO., LTD. ALL RIGHTS RESERVED</p>
</section><!-- f_right end -->

</div><!-- footer_in end -->

</footer><!-- footer end -->
<hr />

</div><!-- wrap end -->

</body>
</html>