{% extends "base.html" %}
{% load staticfiles %}
{% block divinfo %} <div id="wrap" ><!-- wrap start --> {% endblock %}
{% block content %}
<section class="contents"><!-- contents start -->
<form action="." method="post"> {% csrf_token %}
  {{ form.non_field_errors }}
  {{ form.source.errors }}
  {{ form.source }}

<h2 class="level2">모니터링 그룹 등록 </h2>

<table class="type2 mt30"><!-- table start -->
<caption>table</caption>
<colgroup>
	<col style="width:220px" />
	<col style="width:*" />
</colgroup>
<tbody>
<tr>
	<th scope="row"> 소속 프로젝트</th>
    <td>{{ form.project.errors }} {{ form.project }} </td>
	<!-- td><input type="text" title="프로젝트명" placeholder="프로젝트 명을 입력하세요." value="SQL C 프로젝트" style="width:100%;" /></td> -->
</tr>
<tr>
	<th scope="row"> 모니터링그룹명 </th>
    <td>{{ form.mnt_group_nm.errors }} {{ form.mnt_group_nm }} </td>
	<!-- <td><input type="text" title="프로젝트 소개" placeholder="프로젝트 소개를 입력하세요." value="SQL C 구축을 위한 프로젝트입니다. " style="width:100%;" /></td> -->
</tr>

	<th scope="row">그룹 설명</th>
	<td> {{ form.mnt_group_desc  }} </td>
</tr>
</tbody>
</table><!-- table end -->

<ul class="center_btns">
    <li> <button class="btn big btn_orange" type="submit">모니터링 그룹 생성 </button></li>
	<!-- <li><p class="btn big btn_orange"><a href="#">프로젝트  수정</a></p></li> -->
	<!-- <li><p class="btn big btn_dark"><a href="#">프로젝트 삭제</a></p></li> -->
</ul>

</form>
</section><!-- contents end -->

</section><!-- container end -->
<hr />
{% endblock %}