{% extends "base.html" %}
{% load staticfiles %}
{% block divinfo %} <div id="wrap" ><!-- wrap start --> {% endblock %}
{% block content %}
<section class="contents"><!-- contents start -->
<form action="." method="post"> {% csrf_token %}
  {{ form.non_field_errors }}
  {{ form.source.errors }}
  {{ form.source }}

<h2 class="level2">서버 등록/수정</h2>

<table class="type2 mt30"><!-- table start -->
<caption>table</caption>
<colgroup>
	<col style="width:220px" />
	<col style="width:*" />
</colgroup>
<tbody>
<tr>
	<th scope="row"> 소속 프로젝트</th>
    <td>{{ form.project.errors }} {{ form.project }} </td>
	<!-- td><input type="text" title="프로젝트명" placeholder="프로젝트 명을 입력하세요." value="SQL C 프로젝트" style="width:100%;" /></td> -->
</tr>
<tr>
	<th scope="row"> 서버명 </th>
    <td>{{ form.server_nm.errors }} {{ form.server_nm }} </td>
	<!-- <td><input type="text" title="프로젝트 소개" placeholder="프로젝트 소개를 입력하세요." value="SQL C 구축을 위한 프로젝트입니다. " style="width:100%;" /></td> -->
</tr>
<tr>
	<th scope="row">마리아DB서버 IP </th>
	<td>{{ form.db_server_ip}} </td>
</tr>
<tr>
	<th scope="row">DB서버 포트 정보 </th>
	<td>{{ form.db_access_port}} </td>
</tr>

<tr>
	<th scope="row">마리아DB접속 계정</th>
	<td>{{ form.db_acnt_id }}  </td>
</tr>
<tr>
	<th scope="row">마리아DB 계정 패스워드</th>
	<td> {{ form.db_acnt_pwd  }} </td>
</tr>
<tr>
	<th scope="row">사용여부</th>
	<td> {{ form.is_available  }} </td>
</tr>
<tr>
	<th scope="row">서버 설명</th>
	<td> {{ form.server_desc  }} </td>
</tr>
</tbody>
</table><!-- table end -->

<ul class="center_btns">
    <li> <button class="btn big btn_orange" type="submit">서버 Check & Save </button></li>
	<!-- <li><p class="btn big btn_orange"><a href="#">프로젝트  수정</a></p></li> -->
	<!-- <li><p class="btn big btn_dark"><a href="#">프로젝트 삭제</a></p></li> -->
</ul>

</form>
</section><!-- contents end -->

</section><!-- container end -->
<hr />
{% endblock %}