{% extends "base.html" %}
{% load staticfiles %}
{% block divinfo %} <div id="wrap" ><!-- wrap start --> {% endblock %}
{% block content %}
<section class="container"><!-- container start -->

<section class="contents"><!-- contents start -->
<form action="#" method="post">

<h2 class="level2"> 나의 프로젝트 리스트 </h2>

<!--
<aside class="blue_title mt30">
<ul class="search_opt">
	<li>프로젝트 명 검색&nbsp;&nbsp;</li>
	<li><input type="text" title="" placeholder="" style="width:520px;" /></li>
	<li><p class="btn small btn_black"><a href="#">검색</a></p></li>
</ul>
</aside>
 --><!-- blue_title end -->

<ul class="right_btns">
	<li><p class="btn btn_orange"><a href="#">신규 프로젝트 등록<span class="icon_plus_white"></span></a></p></li>
	<li><p class="btn btn_sky"><a href="#">모니터링 승인 요청<span class="icon_plus_dark"></span></a></p></li>
</ul>
<ul class="list_style"><!-- list_style start -->
{% for pjt in object_list %}
<li>
	<strong> {% firstof user.get_short_name user.get_username %} </strong>
	<p class="subject"><a href="#">{{ pjt.project_nm }}</a></p>
	<p class="date">생성일 : <span>{{ pjt.created_dt }}</span></p>
	<ul class="right_btns">
		<li><p class="btn btn_blue"><a href="#">서버<span class="icon_plus_white"></span></a></p></li>
		<li><p class="btn btn_green"><a href="#">모니터링<span class="icon_plus_white"></span></a></p></li>
	</ul>
	</li>
{% endfor %}
</ul> <!-- list_style end -->

<p class="btn_more mt20"><a href="#">More</a></p>
</form>
</section><!-- contents end -->

</section><!-- container end -->
<hr />
{% endblock %}