{% extends "base.html" %}
{% load staticfiles %}
{% block divinfo %} <div id="wrap" ><!-- wrap start --> {% endblock %}
{% block content %}
<section class="container"><!-- container start -->

<section class="contents"><!-- contents start -->
<form action="#" method="post">

<h2 class="level2"> 프로젝트 삭제 </h2>

<aside class="blue_title mt30">
<ul class="search_opt">
	<li> {{ object }} 프로젝트를 정말 삭제하시겠습니까? </li>
    <li> <button class="btn small btn_black" type="submit">삭제</button></li>
</ul>
</aside>
<!-- blue_title end -->
</form>
</section><!-- contents end -->

</section><!-- container end -->
<hr />
{% endblock %}
