{% extends "login_base.html" %}
{% load staticfiles %}
{% block content %}
<section class="login"><!-- login start -->
<form action="{% url 'login' %}" method="post"> {% csrf_token %}
	 {% if form.errors %}
    <p> 오류가 발생했습니다. 다시 입력하세요</p>
    {% endif %}
<ul>
	<li class="mail"> {{ form.username }} </li>
	<li class="pass"> {{ form.password }} </li>

	<!--
	<li class="mail"><input type="text" title="" placeholder="이메일" /></li>
	<li class="pass"><input type="password" title="" placeholder="패스워드" /></li>

	-->
	<!-- 입력 안하였을 경우
	<li class="mail error"><input type="text" title="" placeholder="이메일을 입력해 주세요." /></li>
	<li class="pass error"><input type="password" title="" placeholder="비밀번호를 입력해 주세요." /></li>
	-->
	<li>
	<label><input type="checkbox" /><span></span><span class="text">이메일 저장</span></label>
		<button class="btn btn_orange" type="submit"><a> 로그인 </a></button>
		<!-- <input type="hidden" name="next" value="{{ next }}" /> -->
		<!-- <p class="btn btn_orange"><input type="submit" value="로그인"/> </p> -->
		<!--  <!-- <a href="#">로그인</a></p> -->
	</li>
</ul>
</form>
</section><!-- login end -->

<footer>
<p class="lost_pw"><a href="#">비밀번호를 잊었다면?</a></p>
</footer>

{% endblock content %}