{% extends "login_base.html" %}
{% load staticfiles %}
{% block content %}
<section class="login"><!-- login start -->
<form action="." method="post">{% csrf_token %}
<!-- <form action="{% url 'password_change' %}" method="post"> -->
    {% if form.errors %}
    {{ form.errors }}
    {% endif %}
<strong class="title2">비밀번호 변경</strong>
<p class="desc">비밀번호 변경을 위해 아래에 가입시 입력한 비밀번호 입력해 주세요.</p>
<ul>
    <li class="pass"> 현재 비밀번호 : {{ form.old_password }}</li>
	<li class="pass"> 비밀번호 : {{ form.new_password1 }}</li>
	<li class="pass"> 비밀번호 재입력 : {{ form.new_password2 }}</li>
	<li class="center">
        <p><button class="btn btn_blue" type="submit">비밀번호변경</button></p>

	</li>
</ul>

</form>
</section><!-- login end -->

{% endblock content %}